<div class="col-md-10 col-md-offset-1" id="queuePlayer" style="margin-bottom: 10px;">
    <h3 style="text-align: center;">Video Queue</h3>
    <div style="display:block; overflow:auto; height:200px; width:100%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Queue</th>
                    <th>Date</th>
                    <th>Video Name</th>
                    <th>Username</th>
                    <th></th>
                </tr>
            </thead>
            <? if (data) { ?>
                <tbody >
                    <? for(var i=0; i < data.length; i++) { ?>
                        <tr>
                            <td><?= i+1 ?></td>
                            <td><?= data[i].queue ?></td>
                            <td><?= data[i].videoName ?></td>
                            <td><?= data[i].user ?></td>
                            <? if (i == 0) { ?>
                                <td><span class="glyphicon glyphicon-volume-up" aria-hidden="true" style="color: green"></span></td>
                            <? }?>
                        </tr>
                    <? } ?>
                </tbody> 
            <? } ?>
        </table>
    </div>
</div>